<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nerdbank.GitVersioning" version="1.0.15178-beta" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="NuProj" version="0.10.0-beta-gd6d4e1ff23" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-alpha-g4e621dfd0d" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="Validation" version="2.0.6.15003" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>